<div class="row" style="background-color:#3B3C36  ;">
    <div class=" " >

        <div class="main-heading text-center">
            <h1 >
                About Us
            </h1>

        </div>

        <div class="my-4 p-3 content-text text-center">
            <p>
                Virtual Visage – a creative lifestyle virtual gallery making emotional photography communicate a story. 
                Creative Natural scenery photo  gallery showcasing photography that captures emotions.
            </p>
        </div>
       
    </div>

    
</div>


