
@import url("https://www.fontspace.com/monainn-font-f102256");

@import url("https://www.fontspace.com/queensides-font-f90306");

.row{
    background-color:#3B3C36  ;
}

.main-heading h1{
    font-family: 'queensides';
    color: #EC7C26;
    font-size: 60px;
    font-weight: 900;
}

.content-text{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadIn 1.7s normal ;
}


.content-text p{
    font-family: 'monainn';
    color: white ;
    font-size: 18px;
    width: 70%;
   
}

//Can't select and copy the text
.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }

@keyframes fadIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}











